# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Google Cloud SDK / Large Files
bin/
lib/
deb/
data/
.gcloud/

# IDEs
.idea/
.vscode/
*.swp
